.footer {
	background: #E9E9E9;
	padding: 1.7rem 0
}

.footer__wrap {
	width: 100%
	max-width: rem(945)
	margin: auto
	display: flex
	
}

.footer__column {
	width: 50%
	
	h3 {
		letter-spacing: 1.75px;
		font-size: rem(16);
		line-height: rem(16);
		font-weight: 600
		color: #2a2a2a
	}
	
	&:last-child {
		padding-left: 7.2rem
	}
}

.footer__column-list {
	display: flex
	margin-top: 1.5rem
}

.footer__column-list-item {
	width: 38.6%
	
	&:last-child {
		margin-left: 2.2rem
		
		p {
			justify-content: flex-start
		}
	}
	
	p {
		font-size: rem(16);
		line-height: rem(24);
		font-weight: 400
		color: #2a2a2a
		display: flex
		justify-content: space-between
		margin-bottom: 0.7rem
	}
	
	img {
		width: rem(22)
		margin-right: rem(5)
	}
	
	span {
		font-weight: 600
		width: 8.99rem
	}
}

.policy-txt {
	p{
		font-size: rem(16);
		line-height: rem(24);
		font-weight: 400
		color: #2a2a2a
		margin-top: 1.6rem
	}
	a{
		font-size: rem(16);
		line-height: rem(24);
		font-weight: 400
		color: #2a2a2a
		display: block
		margin-top: 0.85rem
	}
}