.about-product {
	padding: 3.2em 0 3.85rem
	background: #E9E9E9;
}

.about-product__title {
	text-align: center
	
	h2 {
		color: #2a2a2a
	}
	
	p {
		font-size: rem(20);
		line-height: rem(30);
		color: #000000
		margin-top: rem(30)
	}
}

.about-product__wrap {
	display: flex
	justify-content: space-between
	margin-top: 3.2rem
}

.about-product__item {
	width: rem(150)
	height: rem(150)
	background: #ffffff
	border-radius: 50%
	display: flex
	justify-content: center
	align-items: center
	margin: 0 0.5rem
	img {
		width: rem(108)
	}
}