//@import "/base/bootstrap-grid.styl"
@import "_sprite"
@import "_functions"
@import "userInterface"
@import "swiper"
@import "helpers"
@import "/layout/popup"
@import "/layout/header"
@import "layout/footer.styl"
//@import "_breadcrumbs"
//@import "fancybox.styl"
@import "/base/base.styl"
@import "/components/flipclock.styl"


@import "/sections/advantages"
@import "/sections/processor.styl"
@import "/sections/video"
@import "/sections/product"
@import "/sections/reviews.styl"
@import "/sections/gallery.styl"
@import "/sections/history.styl"
@import "/sections/guarantees.styl"
@import "/sections/our-work.styl"
@import "/sections/our-pluses.styl"
@import "/sections/offer.styl"
@import "/sections/characteristics.styl"
@import "/sections/top-info"
@import "/sections/bottom-info"
@import "/sections/about-brand.styl"
@import "/sections/about-product.styl"
@import "/sections/delivery.styl"
@import "/sections/why-we.styl"
@import "/sections/important-info.styl"
@import "/sections/ingredients.styl"
@import "/sections/doctor-says.styl"



@import "btn"
@import "content"
@import "decor.styl"

@import "/components/select.styl"

@import "timer"



@import "fonts"

@import "/mediaquery/980-1200.styl"
@import "/mediaquery/768-979.styl"
@import "/mediaquery/481-767.styl"
@import "/mediaquery/320-480.styl"


