.title {
	h1{
		font-size: rem(52);
		line-height: rem(78);
		font-weight: 600
		color: #C99655;
		text-transform: uppercase
	}
	h2{
		font-size: rem(34);
		line-height: rem(51);
		font-weight: 600
		text-transform: uppercase
	}
	h3{
		font-size: rem(30);
		line-height: rem(45);
		font-weight: 600
		text-transform: uppercase
	}

}