@media (min-width: 1680px) and (max-width: 1800px) {
	.bottom-info:before {
		left: -10rem;
	}
}


@media (min-width: 1360px) and (max-width: 1679px) {
	.btn-cart {
		right: 1rem;
		bottom: 1rem;
		transform: translate(0%, 0);
	}
	.top-info {
		background-position: -18rem 0rem;
	}
.review .wrapper:before{
	display: none
}
	.bottom-info:before {
		left: -21rem;
	}
}


@media (min-width: 980px) and (max-width: 1300px){
	html{
		font-size: 1.25vw
	}
	.btn-cart {
		position: fixed;
		right: 2rem;
		transform: translate(0%, 0);
	}
	.top-info {
		background-position: -18rem 0rem;
	}
	//.our-pluses__item:before {
	//	top: -4.5rem;
	//	right: -2.5rem;
	//}
	//.our-pluses__item:after {
	//	bottom: -4.5rem;
	//	left: -2.5rem;
	//}
	.review .wrapper:before{
		display: none
	}
	.bottom-info:before {
		left: -21rem;
	}
	#timer-2{
		path{
			stroke-width: 4px
		}
	}
	#timer-1, #timer-3{
		path{
			stroke-width: 4px
		}
	}
}

@media (min-width: 980px) and (max-width: 1200px) {
	html {
		font-size: 1.25vw
	}
	
	.our-pluses__item:before {
		top: -4.5rem;
		right: -2.5rem;
	}
	.our-pluses__item:after {
		bottom: -4.5rem;
		left: -2.5rem;
	}
}